body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('https://i.ibb.co/p6txSm7W/wp2711094.jpg');
  overflow-y: auto;
  touch-action: none;
  user-select: none;
}

@media screen and (max-height: 844px) {
  html, body {
    height: auto;
    min-height: 100%;
    display: grid;
    place-items: center;
    overflow-y: auto;
  }
}